/* #root > div.navbar-parent {
} */
#root > div.navbar-parent > nav.navbar-bottom-fucking-overflow{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    overflow-x: scroll;

}
#root > div.navbar-parent > nav > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d0ced1;
    padding: 5px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 0px;
    width: 16.666vw;
    color: rgb(61, 61, 61);
    border: solid gray 1px;
    border-style: outset;
}
#root > div.navbar-parent > nav > a.active{
    border: solid gray  2px;
    border-style: inset;
    background-color: #6d6a6f;
    color: #32f0ec;
    text-shadow: #32f0ec 1px 1px 1px 1px;
}
#root > div.navbar-parent > nav > a.navbar-item > svg {
    font-size: 1.66rem;
}

@media screen and (min-width: 650px) {
   
}