#root {
    margin-top:25px;
    width: 100vw;
    height: 100vh;
    border:rgb(206, 175, 175) 3px solid;
    border-style: inset;
    box-sizing: border-box;

}

.page-title{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: 68px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px #32f0ec;
    font-size: 32px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border:rgb(180, 179, 179) 4px solid;
    border-radius: 15px;
    border-style: outset;
    box-sizing: border-box;
    background-color: rgb(172, 172, 169);
    
}